@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.estructura-card{
    width: 100%;
    display: flex;
    height: 260px;
}

.card-User{
    width: 30rem;
    height: 15rem;
    border-radius: 4px;
    background: #ffffff;
    margin-right: 2rem;
    box-shadow: 0px 0px 2px  rgb(211,212,213);
}

.estructura-card-info{
    width:100%;
    height: 250px;
}

.card-info{
    width: 510px;
    height: 116px;
    margin-right: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 1px  rgb(211,212,213);
}

.estructura-card-info-data{
    width: 500px;
    height: 115px;
    margin: 0;
    padding: 0;
}

.contendor-card-info-icon{
    display: flex;
    height: 100px;
    text-align: center;
    padding-left: 15px;
}

.vertical-line {
    height: 50px;
    width: 0;
    border-left: 1px solid #dee2e6;
    margin: 0 0;
}

.icon-card-info{
    width: 60px;
    height: 60px;
}

.contendor-card-texto{
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-user-contenedor{
    width: 100%;
    margin-top: -20px;
}

.card-user-contenedor-title{
    height: 10px;
}

.title-Dashoard{
    font-weight: 580;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-left: 1rem;
}

.name-Usuario{
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    color: #545057;
}

.name-Dependencia{
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    color: #545057;
}

.name-card{
    font-weight: 510;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #545057;
}

.name-subItem-card{
    font-weight: 480;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #545057;
}

.name-subItem-card-number{
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    color: #545057;
}

.centrar{
    text-align: center;
}


body .ui-panel .ui-panel-content{
    padding: 0;
}

.estructura-solicitudes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 510px;
    justify-content: flex-start;
}

.card-solicitudes {
    width: 99%;
    padding: 1rem 1rem;
    height: auto;
    border-radius: 4px;
    background: #ffffff;
    margin-right: 2rem;
    box-shadow: 0 0 2px rgb(211,212,213);
    margin-top: 10px;
}


.estructura-card-inf2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.estrucutura-card-Productos {
    width: 40rem;
    border-radius: 4px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px rgb(211,212,213);
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 10px;
}

.estructura-card-info-Producto-data {
    width: 56rem;
    border-radius: 4px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px rgb(211,212,213);
    padding: 1rem;
    margin-top: 10px;
}

.card-productos-contenedor,
.card-productosinf2-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
}