@import
url('https://fonts.googleapis.com/css?family=Montserrat:weights@400,600,700,800');

.logo-menu {
    width: 60px;
    text-align: center;
}

.content {
    background: #ce232b;
}

.contenedor-logo-Empresa{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: rgb(52,58,64);
}

.logo {
    width: 90px;
}


.Contenedor-menu-opciones{
    width: 100%;
    background-color:rgb(52,58,64);
    height: 630px;
    border: none;
    overflow-y: auto;
}

body .ui-menu {
    background: #1e252e;
    border-color: #1e252e;
    width: 100%;
}

.ui-accordion-header .ui-accordion-toggle-icon{
    display: none;
}

body .ui-menu .ui-menu-list .ui-widget-header h3 {
    font-size: 1rem;
}

body .ui-menu .ui-menu-list .ui-widget-header {
    background: #1e252e;
}


.ui-menuitem-link{
    font-size: 13px;
}

.Contenedor-menu-opciones::-webkit-scrollbar{
    width: 9px;
}

.Contenedor-menu-opciones::-webkit-scrollbar-track {
    background: rgb(30, 37, 46);;
}

.Contenedor-menu-opciones::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 3px solid rgb(30, 37, 46);
}

.ui-panel {
    background: #1e252e;
}


body .ui-panel .ui-panel-content{
    background: #1e252e;
    border: 1px solid #1e252e;
}

.ui-panel .ui-panel-content:hover {
    background: #252c35;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}



.nombre-usuario{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.cargo-usuario{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.mover-perfil{
    width: 100%;
}

.color-mover-perfil{
    padding: 0 20px;
    width: 100%;
}

.color-mover-perfil:hover{
    background: #252c35;
}

.opciones-perfil-mover{
    font-size: 12px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #e0e0e0;
}

#perfil:checked ~ .submenu-perfil{
    display: block;
}

.contenedor-perfil {
    position: relative;
    z-index: 1;
}

.submenu-perfil {
    display: none;
    position: absolute; /* Posicionamiento absoluto para superponer */
    top: calc(100% + 10px); /* Coloca el submenu debajo del label */
    left: 0;
    background-color: #3c763d; /* Color de fondo opcional */
    border: 1px solid #ce232b; /* Borde opcional */
    padding: 10px; /* Espaciado interior opcional */
    z-index: 2; /* Asegura que el submenu esté por encima del resto del contenido */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    box-sizing: border-box;
}


